@use "results";
@use "responsive";

html,
body {
  height: 100%;
  width: 100%;
}

.chauncy {
  font-family: chauncy-pro, sans-serif;

  font-weight: 700;

  font-style: normal;
}

body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  // background-color: white;

  //   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  //     Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  // font-family: "Libre Baskerville", serif;
  font-family: chauncy-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-variant: small-caps;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --card-rotation: rotateX(0deg) rotateY(0deg);
  --card-lighting: linear-gradient(
    var(--card-light-angle),
    rgba(255, 255, 255, 0) 65%,
    rgba(255, 255, 255, 0.25) 75%,
    rgba(255, 255, 255, 0.75) 100%
  );
  --gold: rgb(251, 216, 59);
}

#loading-cover {
  will-change: opacity;
  transition: opacity 3s ease;
  opacity: 1;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  // background-color: white;
  background: linear-gradient(#081b32 25%, rgb(31, 104, 153) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#lottie {
  transition: opacity 0.5s ease;
  width: 300px;
  opacity: 1;
}

.gold-text {
  font-size: 125%;
  background: -webkit-linear-gradient(rgb(244, 235, 223), var(--gold));
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
  -webkit-filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
  text-shadow: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#quiz-page {
  position: absolute;
  height: 100%;
  width: 100%;
}

#quiz {
  position: fixed;
  height: 100%;
  width: 100%;

  min-height: 600px;

  // background-image: url("scroll.webp");
  // background-size: contain;
  // background-repeat: repeat-y;
  // background-attachment: local;

  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;

  overflow-y: hidden; // Gets switched to 'auto' when user clicks 'take quiz'
}

#background {
  position: absolute;
  height: 200vh;
  width: 100vw;
  z-index: -1;
  background-image: url("./scroll.webp");
  background-size: contain;
  background-repeat: repeat-y;
}

#welcome {
  height: 100%;
  width: 100%;
  padding: 5% 0 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;

  h1,
  h2 {
    margin: 0px;
    font-variant: small-caps;
    font-family: "Satisfy", cursive;
    line-height: 110%;
  }
  h1 {
    width: calc(100% + 5px);
    font-size: 15vw;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
    -webkit-filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
    // background: -webkit-linear-gradient(rgb(244, 235, 223), rgb(236, 197, 129));
    background: -webkit-linear-gradient(rgb(244, 235, 223), var(--gold));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include responsive.lg {
      font-size: 128px;
    }
  }
  h2 {
    font-size: 24px;
    text-align: right;
    text-shadow: 0 0 10px white;
    font-family: chauncy-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-variant: small-caps;
    // color: rgb(93, 93, 93);
    color: black;
    @include responsive.lg {
      font-size: 36px;
    }
  }
}

#get-results {
  height: 100%;
  padding: 5% 0 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  // @include responsive.lg {
  //   height: 100%;
  // }
}

.question {
  min-height: 100%;
  padding: 5% 0 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  margin: 5% 0 0% 0;

  @include responsive.lg {
    margin: unset;
    // height: 100%;
  }
}

.question p {
  font-weight: 700;
  font-size: 36px;
  margin: 0;
  text-align: center;
  max-width: 70%;
  text-shadow: 0 0 10px white;
}

.answers {
  max-width: 60%;
  height: 75%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.answer {
  //   display: inline-grid;
  flex-grow: 1;
  margin-top: 40px;

  img {
    height: 100%;
  }

  p {
    margin: 10px 0px 10px 0px;
    max-width: unset;
    text-shadow: none;
  }
}

.image-question .answers {
  flex-direction: column;
  margin-top: 1%;
  width: 100%;

  .answer-row {
    @include responsive.lg {
      display: flex;
      flex-direction: row;
    }
  }

  .answer {
    flex-grow: unset;

    .button-holder {
      display: block;

      .button {
        width: unset;
        height: unset;
        display: block;
      }

      @include responsive.lg {
        width: unset;
      }
    }

    @include responsive.lg {
      margin: 0 2.5% 5% 2.5%;
      height: 45%;
      width: 28%;
    }
  }

  @include responsive.lg {
    // flex-direction: row;
    // flex-wrap: wrap;
  }
}

.answer .button-holder {
  height: 100%;

  &:hover .button {
    transition: color 0.25s, background-color 0.5s, transform 0.2s ease;
  }
  &:active .button {
    transition: color 0.25s, background-color 0.5s, transform 0.2s ease;
  }
}

.answer .button {
  transition: color 0.25s, background-color 0.5s, transform 0.5s ease;
  will-change: color, background-color, transform;
  padding: 10px 30px 10px 30px;
  // filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.75));
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.75);
}

.answer.selected .button {
  color: white;
  // background-color: rgba(244, 201, 71, 1);
  background-color: var(--gold);
}

#previous-question {
  will-change: opacity;
  transition: opacity 0.5s ease;
  opacity: 0;
  position: fixed;
  width: 15%;
  bottom: 2.5%;
  left: 10%;
  transform: translate(-50%, -50%);
  display: none;
  @include responsive.lg {
    display: unset;
  }
}

.button-holder {
  height: 75px;
  // width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button {
  transition: transform 0.5s ease;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  min-height: 100px;
  border: solid var(--gold) 10px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  box-shadow: (0px 15px 25px rgba(0, 0, 0, 0.75));
  // -webkit-filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.75));

  @include responsive.lg {
    // min-height: unset;
  }
}

.button-holder:hover .button {
  transition: transform 0.2s ease;
  transform: scale(0.95);
}
.button-holder:active .button {
  transition: transform 0.2s ease;
  transform: scale(0.9);
}

.button p {
  font-size: 20px;
  font-weight: 700;
  margin: 0px 25px 0px 25px;
  text-align: center;
  box-sizing: content-box;
}
